@use '../../sass/abstracts' as *;

.wrap {
	display: grid;
	grid-template-columns: 1fr 1fr;

	label {
		color: var(--text-secondary);
		margin-bottom: 1rem;
	}

	input {
		grid-column: 1 / -1;

		width: 100%;
		height: 4.8rem;

		padding-left: 2rem;

		border-radius: 4px;

		font-weight: 700;
		color: var(--text-main);

		border: 1px solid var(--input-border);

		background-color: var(--element-bg);
	}
}

.wrap.error {
	input {
		border: 1px solid var(--red);
	}

	label {
		color: var(--red);
	}
}

.message {
	justify-self: end;
	color: var(--red);
}
