@use '../abstracts' as *;

body.dark {
	--bg: hsl(231, 30%, 11%);
	--element-bg: hsl(233, 31%, 17%);
	--divider: hsl(231, 20%, 36%);

	--text-main: hsl(0, 0%, 100%);
	--text-secondary: hsl(231, 75%, 93%);
	--header-bg: hsl(233, 31%, 17%);
	--shadow: none;
}
