@use '../abstracts' as *;

body.dark {
	--bg: hsl(231, 30%, 11%);
	--element-bg: hsl(233, 31%, 17%);
	--divider: hsl(231, 20%, 36%);

	--text-main: hsl(0, 0%, 100%);
	--text-secondary: hsl(231, 75%, 93%);
	--header-bg: var(--element-bg);

	--shadow: none;

	--summary-bg: hsl(233, 30%, 21%);
	--summary-total-bg: hsl(231, 28%, 7%);

	--input-border: var(--summary-bg);

	--checkbox-bg: var(--summary-total-bg);
}
