@use '../abstracts' as *;

body.dark {
	--bg: hsl(231, 30%, 11%);
	--element-bg: hsl(233, 31%, 17%);

	--text-main: hsl(0, 0%, 100%);
	--text-secondary: hsl(231, 75%, 93%);
	--header-bg: var(--element-bg);

	--shadow-sm: none;
	--shadow-md: none;

	--summary-bg: hsl(233, 30%, 21%);
	--summary-total-bg: hsl(231, 28%, 7%);

	--input-border: var(--summary-bg);

	--checkbox-bg: var(--summary-total-bg);

	--sidebar-bg: var(--bg);

	--button-black-text: var(--text-secondary);
	--button-black-bg-hover: var(--element-bg);

	--button-gray-bg: hsl(233, 30%, 21%);
	--button-gray-bg-hover: hsl(0, 0%, 100%);
	--button-gray-text-hover: hsl(231, 36%, 63%);

	--dropdown-content-bg: var(--summary-bg);
	--dropdown-content-divider: var(--element-bg);
}
