@use '../../sass/abstracts' as *;

.placeholder {
	position: fixed;

	top: 0;
	right: 0;
	left: 0;
	bottom: 0;

	z-index: 250;

	background-color: #000;

	opacity: 0.5;
}

.sidebar {
	position: fixed;

	//header
	top: 7.2rem;

	left: -100%;
	bottom: 0;

	width: 100%;

	z-index: 500;

	overflow: hidden;

	background-color: var(--sidebar-bg);

	transition: left 0.3s;

	@include breakpoint-up('small') {
		//header
		top: 8rem;
	}

	@include breakpoint-up('medium') {
		max-width: 62rem;

		border-top-right-radius: 2rem;
		border-bottom-right-radius: 2rem;

		padding: 1.2rem 0.3rem;
	}

	@include breakpoint-up('xlarge') {
		//header
		padding-left: 10rem + 0.3rem;

		top: 0;
	}
}

.sidebar.open {
	left: 0;
}

.closeButton {
	@include breakpoint-up('medium') {
		display: none;
	}
}

.content {
	overflow-y: scroll;
	height: 100%;

	padding: 2.4rem;
	padding-top: 3.2rem;
	padding-bottom: 0;

	@include breakpoint-up('small') {
		padding: 4rem;
		padding-bottom: 0;
	}
}
