@use '../../sass/abstracts' as *;

.wrap {
	margin: 10rem auto;

	max-width: 50rem;
	width: 100%;

	padding: 0 2.4rem;

	font-weight: 700;
	color: var(--text-main);
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin-bottom: 2.4rem;

	h3 {
		font-size: 2.4rem;
	}
}

.username {
	margin-bottom: 2.4rem;
}

.password {
	margin-bottom: 4.8rem;
}

.loginButton {
	width: 100%;
	height: 4.8rem;

	display: flex;
	justify-content: center;
	align-items: center;

	font-weight: 700;
	//color: var(--text-secondary);

	background-color: var(--element-bg);
	border: 1px solid var(--input-border);

	border-radius: 24px;
}
