.wrap {
	display: flex;
	align-items: center;

	input[type='checkbox'] {
		appearance: none;

		width: 1.6rem;
		height: 1.6rem;

		border-radius: 2px;

		background-color: #dfe3fa;

		cursor: pointer;

		border: 1px solid transparent;

		&:hover {
			border: 1px solid var(--purple);
		}

		&:checked {
			background-color: var(--purple);

			display: flex;
			justify-content: center;
			align-items: center;

			&::after {
				content: '';

				background-image: url('../../../public/icons/icon-check.svg');
				background-size: 1rem 1rem;
				width: 1rem;
				height: 1rem;
			}
		}
	}

	label {
		margin-left: 1.4rem;

		color: var(--text-main);

		cursor: pointer;
	}
}
