@use '../abstracts' as *;

.hide-for-mobile {
	display: none;

	@include breakpoint-up('small') {
		display: inline-block;
	}
}

.hide-for-desktop {
	display: inline-block;

	@include breakpoint-up('small') {
		display: none;
	}
}
